.btn-group{
    width: 100%;height: 120px;
}
.btn-group .btn{
    width: 50%;
}
.footer{
    text-align: center;
    font-weight: bold;
    font-size: small;
    background: #ffffff91;
    color: #80808091;
}
#categorias .card {
    height: 54px;
    border: 1px solid #76768099;
    font-style: oblique;
  }